* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;

  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --element-color: hsl(0, 0%, 100%);
}

main,
header {
  background-color: var(--background-color);
  color: var(--text-color);
}

main.dark,
header.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --element-color: hsl(209, 23%, 22%);
  --input-color: hsl(0, 0%, 52%);

  background-color: var(--background-color);
  color: var(--text-color);
}

header.dark {
  background-color: var(--element-color);
}

main {
  min-height: calc(100vh - 61px);
}

a {
  text-decoration: none;
  color: inherit;
}

/* from country.html file for dark mode  */
.back-btn {
  color: var(--text-color);
  background-color: var(--element-color);
}

.border-countries a {
  color: var(--text-color);
  background-color: var(--element-color);
}
/* end */

/* index.html style  */
#header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  padding-inline: 24px;
  padding-block: 14px;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(40px);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1460px;
  margin-inline: auto;
}

.title {
  font-weight: 800;
  cursor: pointer;
}

.theme {
  font-weight: 700;
  cursor: pointer;
}

/* mobile padding-inline: 48 */
#main {
  max-width: 1460px;
  margin-inline: auto;
  padding: 48px;
}

.search-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.search-bar {
  max-width: 300px;
  width: 100%;
  padding-left: 20px;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  background-color: var(--element-color);
}

.search-bar i {
  color: var(--input-color);
}

.search-bar input {
  border: none;
  outline: none;
  padding-block: 10px;
  width: 90%;
  padding-left: 10px;
  background-color: var(--element-color);
  color: var(--text-color);
}

.search-filter-container select {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--element-color);
  color: var(--text-color);
}

.countries-container {
  margin-top: 48px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
}

.country-card {
  display: inline-block;
  width: 250px;
  padding-bottom: 28px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--element-color);
}

.country-card:hover {
  transform: scale(1.025);
  transition: all 0.25s;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

.country-card > img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  margin-bottom: 24px;
}

.country-name {
  font-size: 24px;
  font-weight: 900;
  margin-inline: 16px;
  margin-bottom: 16px;
}

.country-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline: 16px;
}

@media (max-width: 675px) {
  .title {
    font-weight: 800;
    cursor: pointer;
    font-size: 18px;
  }

  .theme {
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
  }

  .search-filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .countries-container {
    justify-content: center;
  }
}
