* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Nunito Sans;
    scroll-behavior: smooth;
}

body {
    --element-color: hsl(0, 0%, 100%);
    --background-color: hsl(0, 0%, 98%);
    --text-color: hsl(200, 15%, 8%);

    background-color: var(--background-color);
    color: var(--text-color);
}

.dark {
    --element-color: hsl(209, 23%, 22%);
    --background-color: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);

    background-color: var(--background-color);
    color: var(--text-color);
}

.title {
    font-weight: 800;
}

.header {
    padding-inline: 24px;
    padding-block: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    background-color: var(--element-color);
}

.header p {
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin-inline: auto;
}

.header-container a {
    text-decoration: none;
    color: var(--text-color);
}

main {
    padding: 56px;
    min-height: calc(100vh - 65px);
}

.single-country-card {
    max-width: 1520px;
    margin-inline: auto;
}

.back-btn {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    padding-inline: 22px;
    padding-block: 0px;
    border: none;
    color: black;
    border-radius: 2px;
    font-weight: 500;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 56px;
    cursor: pointer;
    background-color: var(--element-color);
    color: var(--text-color);
}

.back-btn span {
    font-size: 24px;
    vertical-align: middle;
}

.style-country-image {
    max-width: 500px;
    width: 100%;
    object-fit: contain;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.main-section {
    display: flex;
    gap: 72px;
}

.country-text-section {
    padding-block: 32px;
}

.country-details {
    display: flex;
    gap: 72px;
}

.style-country-name {
    margin-bottom: 24px;
    font-size: 22px;
}

.details1,
.details2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.border-countries {
    margin-top: 46px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.border-name {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.border-countries a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    padding-inline: 14px;
    padding-block: 3px;
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--element-color);
    color: var(--text-color);
}


@media(max-width: 715px) {
    main {
        padding-inline: 24px;
        padding-block: 32px;
    }

    .title {
        font-size: 16px;
    }

    .header p {
        font-size: 14px;
    }

    .country-details {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .border-countries {
        margin-top: 36px;
        display: block;
    }

    .border-name {
        margin-top: 16px;
    }

    .border-countries a {
        font-size: 14px;
    }

    .country-details p {
        font-size: 14px;

    }
}

@media(max-width: 1100px) {
    .main-section {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .country-image {
        margin-inline: auto;
    }

}